In [1]:
import glob
import pandas as pd

In [2]:
file_path = './TREC_question_classification_dataset/'

In [3]:
def load_trec_dataset(file_path):
    labels = []
    questions = []
    for file in glob.glob(file_path + '*.txt'):
        with open(file, 'r') as file:
            lines = [line.rstrip() for line in file if line.strip()]
            for line in lines:
                label, question = line.split(' ', maxsplit=1)
                labels.append(label)
                questions.append(question)
    return pd.DataFrame({'questions':questions, 'labels':labels})

In [4]:
# df_train['high_level_label'] = df_train['labels'].apply(lambda x: x.split(':')[0])
# df_train.head()

In [5]:
df_train = load_trec_dataset(file_path + 'train/')
df_train.to_csv('./TREC_question_classification/train/train.csv', index=False, index_label=False)
df_train.head()

                                           questions       labels
0  How did serfdom develop in and then leave Russ...  DESC:manner
1   What films featured the character Popeye Doyle ?  ENTY:cremat
2  How can I find a list of celebrities ' real na...  DESC:manner
3  What fowl grabs the spotlight after the Chines...  ENTY:animal
4                    What is the full form of .com ?     ABBR:exp

In [6]:
df_test = load_trec_dataset(file_path + 'test/')
df_test.to_csv('./TREC_question_classification/test/test.csv', index=False, index_label=False)
df_test.head()

                                  questions    labels
0      How far is it from Denver to Aspen ?  NUM:dist
1  What county is Modesto , California in ?  LOC:city
2                         Who was Galileo ?  HUM:desc
3                         What is an atom ?  DESC:def
4          When did Hawaii become a state ?  NUM:date

In [11]:
# creating a hugging face dataset dict

from datasets import load_dataset

data_files = {
    'train':'TREC_question_classification/train/*.csv',
    'test':'TREC_question_classification/test/*.csv'
}
TREC = load_dataset('csv', data_files=data_files)
print(TREC)

DatasetDict({
    train: Dataset({
        features: ['questions', 'labels'],
        num_rows: 15452
    })
    test: Dataset({
        features: ['questions', 'labels'],
        num_rows: 500
    })
})